<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bookcafe.android.preemptivebookcafe">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".KioskMenuSelect" />
        <activity android:name=".KioskDeskChoice" />
        <activity android:name=".KioskDeskChange" />
        <activity android:name=".KioskDeskCancel" />
        <activity android:name=".KioskDeskChoiceSuccess" />
        <activity android:name=".KioskDeskChoiceFail" />
        <activity android:name=".KioskDeskChangeSuccess" />
        <activity android:name=".KioskDeskChangeFail" />
        <activity android:name=".KioskDeskCancelSuccess" />
        <activity android:name=".KioskDeskCancelFail" />
        <activity android:name=".KioskLoginFail" />

        <activity
            android:name=".KioskMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>